/* Section Top */

.bg_color {
    background-color: var(--color-bg-dark);
    margin-left: 111px;
    margin-right: 553px;

}

/* Section wrapper */

.section_wrapper {
    max-width: 1290px;
    margin: 200px auto;
}

.section_group1 {
    display: flex;
    width: calc(407 + 883);
    height: 728px;
}