/* Section Top */

.section_headtop{
    display: flex;
}

.section_top{
    max-width: 1494px;
    margin-left: 111px;
}

.ghost_div{
    max-width: 408px;
}

.bg_color {
    background-color: var(--color-bg-dark);
    max-width: 1239px;
    padding: 0 666px 0 0;
}

/* Section wrapper */

.section_wrapper {
    max-width: 1290px;
    margin: 100px auto 70px;
}

.section_wrapper2 {
    max-width: 1290px;
    margin: 0 auto;
}

.section_wrapper3 {
    max-width: 1290px;
    margin: 54px auto;
    display: flex;
    gap: 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    color: #2A323F;
    align-items: center;
}

.section_group1 {
    display: flex;
    width: calc(407 + 883);
    height: 728px;
}

.section_group2 {
    display: flex;
    width: calc(407 + 883);
}